.navbar{
    background-color: blueviolet;
}
.navbar-brand{
    color: white;
}
.btn-block{
    width: 200px;
}
.side-nav{
    margin-top: 60px;
    
}
.side-nav-border{
    height: 600px;
    border-left: 1px solid #2e2d2d;
}